accelerate>=1.9.0
torch==2.6.0
torchaudio==2.6.0
transformers==4.49.0
fastapi>=0.116.1
uvicorn[standard]>=0.35.0
pydantic>=2.11.7
python-multipart
librosa>=0.11.0
scipy>=1.16.1
triton==3.2.0
soundfile
numpy
gradio==5.46.1
zhon==2.1.1
